<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <!-- TEACHER & ADMIN PROFILE -->
  <section class="page-header-container">
    <div>
      <% if (user.profile._id.equals(profile._id)) { %>
        <h1 class="page-header">Your Profile</h1>
      <% } else { %>
        <h1 class="page-header"><%= profile.name %>'s Profile</h1>
      <% } %>
    </div>
    <div class="page-nav-container">
      <% if (user.profile.role > 100) { %>
        <a class="btn btn-outline-info" role="button" id="new-section-btn" href="/profiles/<%= profile._id %>/edit">
          Edit Profile
        </a>
      <% } %>
    </div>
  </section>
  <!-- Teacher accessing their own profile -->
  <% if (user.profile.role > 100 && user.profile._id.equals(profile._id)) { %>
  <!-- Teacher version of profile goes here -->
    <img src="" alt="">
  <!-- Teacher accessing a student's profile or student accessing their own profile -->
  <% } else { %>
    <section class="content-container">
      <h3>Basic Info</h3>
      <table id="profile-info-list" class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">School</th>
            <th scope="col">Teacher</th>
            <th scope="col">Section</th>
            <% if (user.profile.role > 100) { %>
              <th scope="col">ELL</th>
              <th scope="col">SWD</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= profile.name %> </td>
            <td> <%= profile.school %> </td>
            <td> <%= profile.sections[0].teachers[0].name %> </td>
            <td> <%= profile.sections[0].name %> </td>
            <% if (user.profile.role > 100) { %>
              <td> <%= profile.ellStatus ? 'Yes' : 'No' %> </td>
              <td> <%= profile.swdStatus ? 'Yes' : 'No' %> </td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="content-container">
      <h3>Reading Stats</h3>
      <table id="profile-info-list" class="table">
        <thead>
          <tr>
            <th scope="col"># Books Checked Out</th>
            <th scope="col"># Books Finished</th>
            <th scope="col"># Pages Read</th>
            <th scope="col"># Pending Tickets</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= profile.currentBooks.length %> </td>
            <td> <%= profile.tickets.reduce( (a, c) => a + c.status * 1, 0) %> </td>
            <td> <%= profile.tickets.reduce( (a, c) => a + c.book.pageCount, 0) %> </td>
            <td> <%= profile.tickets.reduce( (a, c) => a + !c.status * 1, 0) %> </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="content-container">
      <h3>Checked Out Books</h3>
      <table id="books-list" class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col"># Pages</th>
            <th scope="col">Year Published</th>
          </tr>
        </thead>
        <tbody>
          <% profile.currentBooks.forEach( (book, i) => { %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td> <%= book.title %> </td>
              <td> 
                <%
                  let printedAuthors 
                  if (book.authors.length > 3){
                    printedAuthors = book.authors.splice(0, 3).join(', ') + 
                    ` (${book.authors.length - 3} others...)`
                  } else if (book.authors.length > 1){
                    printedAuthors = book.authors.join(', ')
                  }else {
                    printedAuthors = book.authors[0]
                  }
                %> 
                <%= printedAuthors %>
              </td>
              <td> <%= book.pageCount %> </td>
              <td> <%= book.publishedDate.getFullYear() %> %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
    <section class="content-container">
      <h3>Finished Books</h3>
      <table id="books-list" class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col"># Pages</th>
            <th scope="col">Year Published</th>
            <th scope="col">Review</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% profile.tickets.forEach( (ticket, i) => { %>
            <% if (ticket.status) { %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td> <%= ticket.book.title %> </td>
                <td> 
                  <%= ticket.book.authors.length > 1 ? ticket.book.authors.join(', ') : ticket.book.authors[0]%> 
                </td>
                <td> <%= ticket.book.pageCount %> </td>
                <td> <%= ticket.book?.publishedDate?.getFullYear() %> </td>
                <td> <%= ticket.review %> </td>
              </tr>
            <% } %>
          <% }) %>
        </tbody>
      </table>
    </section>
  <% } %>
</main>

<%- include('../partials/footer') %>
