<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <!-- TEACHER & ADMIN PROFILE -->
  <section class="page-header-container">
    <div>
      <% if (user.profile._id.equals(profile._id)) { %>
        <h1 class="page-header">Your Profile</h1>
      <% } else { %>
        <h1 class="page-header"><%= profile.name %>'s Profile</h1>
      <% } %>
    </div>
    <div class="page-nav-container">
      <% if (user.profile.role > 100) { %>
        <a class="btn btn-outline-info" role="button" id="new-section-btn" href="/profiles/<%= user.profile._id %>/edit">
          Edit Profile
        </a>
      <% } %>
    </div>
  </section>
  <section class="content-container">
    <% if (user.profile.role > 100) { %>
      <!-- Teacher version of profile goes here -->
    <% } else { %>
      <table id="profile-info-list" class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">District</th>
            <th scope="col">School</th>
            <th scope="col">Teacher</th>
            <th scope="col">Section</th>
            <th scope="col"># Books Checked Out</th>
            <th scope="col"># Finished Books</th>
            <th scope="col"># Open Tickets</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= profile.name %> </td>
            <td> <%= profile.district.name %> </td>
            <td> <%= profile.school %> </td>
            <td> <%= profile.sections[0].teachers[0].name %> %></td>
            <td> <%= profile.sections[0].name %> </td>
            <td> <%= profile.currentBooks.length %> </td>
            <td> <%= profile.finishedBooks.length %> </td>
            <td> <%= profile.tickets.length %> </td>
          </tr>
        </tbody>
      </table>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>
