<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/books/index.css">
<script defer src="/js/books/index.js"></script>
<%- include('../partials/nav') %>

<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header"><%= title %> <%= results ? `(${results})` : '' %></h1>
    </div>
    <div class="page-nav-container">
      <a class="btn btn-outline-info" role="button" id="new-search-btn">
        Find New Book
      </a>
    </div>
  </section>
  <section class="content-container">
    <% if (searchTerms) { %>
      <div class="searchterms-container">
        <% if (searchTerms.title) { %>
          <p><strong>Title:  </strong></p>
          <p><%= searchTerms.title %></p>
        <% } %>
        <% if (searchTerms.author) { %>
          <p><strong>Author: </strong></p>
          <p><%= searchTerms.author %></p>
        <% } %>
      </div>
    <% } %>
    <table id="books-list" class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author(s)</th>
          <th scope="col"># Pages</th>
          <th scope="col">Year Published</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach( (book, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td> <%= book.title %> </td>
            <td> 
              <%
                let printedAuthors 
                if (book.authors.length > 3){
                  printedAuthors = book.authors.splice(0, 3).join(', ') + 
                  ` (${book.authors.length - 3} others...)`
                } else if (book.authors.length > 1){
                  printedAuthors = book.authors.join(', ')
                }else {
                  printedAuthors = book.authors[0]
                }
              %> 
              <%= printedAuthors %>
            </td>
            <td> <%= book.pageCount %> </td>
            <td> <%= book?.publishedDate?.getFullYear() %> %></td>
            <td>
              <a href="/books/<%= book._id %>" role="button" class="btn btn-outline-primary">
                Details
              </a>
            </td>
            <td>
              <form action="/books/<%= book.googleId %>/checkout?_method=PUT" method="POST">
                <input role="button" type="submit" value="Checkout" class="btn btn-outline-success">
                </input>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>

  <section id="new-search-modal" class="modal-custom">
    <div class="modal-wrapper">
      <div class="modal-header">
        <h3>Search for a Book</h3>
        <span id="close-search-modal" class="close">X</span>
      </div>
      <div class="modal-content">
        <p>Fill out at least one of the following</p>
        <form action="/books/search" method="POST">
          <div class="form-group">  
            <label for="title-input">Title</label>
            <input type="text" class="form-control" name="title" id="title-input" placeholder="e.g. Scorpions">
          </div>
          <div class="form-group">
            <label for="author-input">Author</label>
              <input class="form-control" type="text" name="author" id="author-input" placeholder="e.g. Walter Dean Myers">
          </div>
          <button type="submit" class="btn btn-success">
            Search
          </button>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
