  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-book fa-2xl"></i>
        <h4 class="site-title">Battle of the Books</h4>
      </a>
      <% if (user) { %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- Only show sections to teachers and above -->
            <% if (user.profile.role > 100) { %>
              <li class="nav-item">
                <a class="nav-link <%= title === 'Sections' ? 'active' : '' %>" href="/sections">
                  Sections
                </a>
              </li>
            <% } %>
            <!-- Only show additional paths once a user is signed up and has appropriate permissions / settings-->
            <% if (user.profile.role > 100 || (user.profile.role < 200 && user.profile.sections.length)) { %>
              <li class="nav-item">
                <a class="nav-link <%= title === 'Book Search' || title==='Search Results' ? 'active' : '' %>" href="/books" >
                  Library
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= title === 'Tickets' ? 'active' : '' %>" href="/tickets">
                  Tickets
                </a>
              </li>
            <% } %>
            <!-- ADMIN USER -->
            <% if (user.profile.role > 200) { %>
            <li class="nav-item">
              <a class="nav-link <%= title === 'Districts' ? 'active' : '' %>" href="/districts">
                Districts
              </a>
            </li>
            <% } %>
            <li class="nav-item" id="logout">
              <a href="/auth/logout" class="right nav-link">
                Logout
              </a>
            </li>
            <li>
              <a href="/profiles/<%= user.profile._id %>">
                <img
                  id="avatar"
                  src="<%= user.profile.avatar %>"
                  alt="<%= user.profile.name %> avatar"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    <% } %>
  </nav>
