<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tickets/edit.css">
<%- include('../partials/nav') %>

<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header">Edit Ticket</h1>
    </div>
    <div class="page-nav-container">
    </div>
  </section>
  <% tickets.sort((a, b) => b.createdAt - a.createdAt) %>
  <section class="content-container">
    <h3>Pending Tickets (<%= tickets.reduce( (a, c) => a + !c.status * 1, 0) %>) </h3>
    <table id="pending-list" class="table">
      <thead class="thead-light">
        <tr class="pending-list">
          <th scope="col">#</th>
          <th scope="col">Date Created</th>
          <th scope="col" class="title">Title</th>
          <th scope="col">Author(s)</th>
          <th scope="col"># Pages</th>
          <th scope="col"># Points</th>
          <th scope="col" class="review">Review</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% let pendingCount = 1 %>
        <% tickets.forEach( (ticket, i) => { %>
          <% if (!ticket.status) { %>
            <tr class="pending-list">
              <!-- If it's the ticket we want to edit and a manual entry -->
              <% if (ticket._id.equals(editId) && !ticket.book.googleId) { %>
                <form action="/tickets/<%= ticket._id %>?_method=PUT" method="POST" class="update-form">
                  <th scope="row"><%= pendingCount %></th>
                  <td> <%= ticket.createdAt.toLocaleDateString('en-US') %> </td>
                  <td class="title">
                      <input type="text" class="form-control" name="title" id="title-input" value="<%= ticket.book.title %>" required>
                  </td>
                  <td> 
                    <input class="form-control" type="text" name="authors" id="authors-input" value="<%= ticket.book.authors.length > 1 ? ticket.book.authors.join(', ') : ticket.book.authors[0]%>" required>
                  </td>
                  <td> 
                    <input class="form-control" type="number" name="pageCount" id="pageCount-input" min="0" max="2000" value="<%= ticket.book.pageCount %>" required>
                  </td>
                  <td> <%= Math.ceil(ticket.book.pageCount/300) %> </td>
                  <td class="review"> 
                    <textarea class="form-control" type="text" name="review" id="review-input" required><%= ticket.review %></textarea>
                  </td>
                  <td>
                    <input role="button" type="submit" value="Save" class="btn btn-outline-success"></input>
                  </td>
              </form>
              <!-- Library entry -->
              <% } else if (ticket._id.equals(editId) && ticket.book.googleId) { %>
                <form action="/tickets/<%= ticket._id %>?_method=PUT" method="POST" class="update-form">
                  <th scope="row"><%= i+1 %></th>
                  <td> <%= ticket.createdAt.toLocaleDateString('en-US') %> </td>
                  <td class="title"> <%= ticket.book.title %> </td>
                  <td> 
                    <%= ticket.book.authors.length > 1 ? ticket.book.authors.join(', ') : ticket.book.authors[0]%> 
                  </td>
                  <td> <%= ticket.book.pageCount %> </td>
                  <td> <%= Math.ceil(ticket.book.pageCount/300) %> </td>
                  <td class="review"> 
                    <textarea class="form-control" type="text" name="review" id="review-input" required><%= ticket.review %></textarea>
                  </td>
                  <td>
                    <input role="button" type="submit" value="Save" class="btn btn-outline-success"></input>
                  </td>
                </form>
              <% } else { %>
                <th scope="row"><%= i+1 %></th>
                <td> <%= ticket.createdAt.toLocaleDateString('en-US') %> </td>
                <td class="title"> <%= ticket.book.title %> </td>
                <td> 
                  <%= ticket.book.authors.length > 1 ? ticket.book.authors.join(', ') : ticket.book.authors[0]%> 
                </td>
                <td> <%= ticket.book.pageCount %> </td>
                <td> <%= Math.ceil(ticket.book.pageCount/300) %> </td>
                <td class="review"> <%= ticket.review %> </td>
                <td></td>
              <% } %>
              </td>
            </tr>
            <% pendingCount++ %>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  </section>
  <section class="content-container">
    <h3>Approved Tickets (<%= tickets.reduce( (a, c) => a + c.status * 1, 0) %>) </h3>
    <table class="table">
      <thead>
        <tr class="approved-list">
          <th scope="col">#</th>
          <th scope="col">Date Created</th>
          <th scope="col" class="title">Title</th>
          <th scope="col">Author(s)</th>
          <th scope="col"># Pages</th>
          <th scope="col"># Points</th>
          <th scope="col" class="review">Review</th>
        </tr>
      </thead>
      <tbody>
        <% let approvedCount = 1 %>
        <% tickets.forEach( (ticket, i) => { %>
          <% if (ticket.status) { %>
            <tr class="approved-list">
              <th scope="row"><%= approvedCount %></th>
              <td> <%= ticket.createdAt.toLocaleDateString('en-US') %> </td>
              <td class="title"> <%= ticket.book.title %> </td>
              <td> 
                <%= ticket.book.authors.length > 1 ? ticket.book.authors.join(', ') : ticket.book.authors[0]%> 
              </td>
              <td> <%= ticket.book.pageCount %> </td>
              <td> <%= Math.ceil(ticket.book.pageCount/300) %> </td>
              <td class="review"> <%= ticket.review %> </td>
            </tr>
            <% approvedCount++ %>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  </section>
</main>

<%- include('../partials/footer') %>
