<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sections/show.css">
<script defer src="/js/sections/show.js"></script>
<%- include('../partials/nav') %>

<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header"><%= section.name %>: <%= section.gradeLevel %> grade (<%= section.schoolYear %>) </h1>
    </div>
    <div class="page-nav-container">
      <% if (user.profile.role > 100) { %>
        <a class="btn btn-outline-info" role="button" id="edit-section-btn">
          Edit Info
        </a>
      <% } %>
    </div>
  </section>
  <section class="content-container" id="enrolled-list-container">
    <h3>Enrolled Students (<%= section.students.length %>)</h3>
    <table id="enrolled-list" class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"># Books Read</th>
          <th scope="col"># Pages Read</th>
          <th scope="col"># Currently Checked Out</th>
          <th scope="col"># Tickets Pending</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% section.students.forEach( (student, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td> <%= student.name %> </td>
            <td> <%= 0 //student.finishedBooks.length %> </td>
            <td> <%= 0 //section.finishedBooks.reduce( (a, c) => a += c.pageCount) %> </td>
            <td> <%= student.currentBooks.length %> %></td>
            <td> <%= student.tickets.length %> </td>
            <td>
              <a href="/profiles/<%= student._id %>" role="button" class="btn btn-outline-primary">
                Profile
              </a>
            </td>
            <td>
              <form action="/sections/<%= section._id %>/profiles/<%= student._id %>?_method=DELETE" method="POST" class="delete-form">
                <input role="button" type="submit" value="Remove" class="btn btn-outline-danger">
                </input>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
  <section class="content-container" id="enrolled-list-container">
    <h3>Waitlist (<%= section.waitlist.length %>)</h3>
    <table id="waitlist-list" class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% section.waitlist.forEach( (student, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td> <%= student.name %> </td>
            <td> <%= student.email %> </td>
            <td>
              <form action="/sections/<%= section._id %>/profiles/<%= student._id %>/admit?_method=PATCH" method="POST">
                <input role="button" type="submit" value="Admit" class="btn btn-outline-success">
                </input>
              </form>
            </td>
            <td>
              <form action="/sections/<%= section._id %>/profiles/<%= student._id %>?_method=DELETE" method="POST" class="delete-form">
                <input role="button" type="submit" value="Deny" class="btn btn-outline-danger">
                </input>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>  

  <section id="edit-section-modal" class="modal-custom">
    <div class="modal-wrapper">
      <div class="modal-header">
        <h3>Edit Section Info</h3>
        <span id="close-section-modal" class="close">X</span>
      </div>
      <div class="modal-content">
        <form action="/sections/<%= section._id %>?_method=PUT" method="POST">
          <div class="form-group">  
            <label for="name-input">Section Name</label>
            <input type="text" class="form-control" name="name" id="name-input" value="<%= section.name %>" required>
          </div>
          <div class="form-group">
            <label for="grade-input">
              Grade Level
            </label>
            <select name="gradeLevel" id="grade-input" class="form-control" required>
              <option value="3rd" <%= section.gradeLevel === '3rd' ? 'selected' : '' %>>3rd</option>
              <option value="4th" <%= section.gradeLevel === '4th' ? 'selected' : '' %>>4th</option>
              <option value="5th" <%= section.gradeLevel === '5th' ? 'selected' : '' %>>5th</option>
              <option value="6th" <%= section.gradeLevel === '6th' ? 'selected' : '' %>>6th</option>
              <option value="7th" <%= section.gradeLevel === '7th' ? 'selected' : '' %>>7th</option>
              <option value="8th" <%= section.gradeLevel === '8th' ? 'selected' : '' %>>8th</option>
              <option value="9th" <%= section.gradeLevel === '9th' ? 'selected' : '' %>>9th</option>
              <option value="10th" <%= section.gradeLevel === '10th' ? 'selected' : '' %>>10th</option>
              <option value="11th" <%= section.gradeLevel === '11th' ? 'selected' : '' %>>11th</option>
              <option value="12th" <%= section.gradeLevel === '12th' ? 'selected' : '' %>>12th</option>
            </select>
          </div>
          <div class="form-group">
            <label for="year-input">
            School Year</label>
              <input class="form-control" type="text" name="schoolYear" id="year-input" min="2020" max="2100" value="<%= section.schoolYear %>" required>
          </div>
          <button type="submit" class="btn btn-success">
            Update Section
          </button>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
