<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<script defer src="/js/index.js"></script>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
      <div id="signup-container">
        <h4>Welcome</h4>
        <i id="logo" class="fa-solid fa-book fa-2xl"></i>
        <p>Sign in to get started</p>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="pill"
          data-logo_alignment="left"
          data-context="use"
        ></div>
      </div>

  <!-- IF THE USER ISN'T SIGNED UP, SELECT DISTRICT AND SCHOOL -->
  <% } else if (!user.profile.isSignedUp) { %>
    <h1>Let's get started</h1>
      <form action="/profiles/<%= user.profile._id %>/update?_method=PATCH" method="POST">
        <div class="form-group">
          <label for="role-input">I am a...</label>
          <select name="role" id="role-input" class="form-control" required>
            <option value="">--Choose a Role--</option>
            <option value="100">Student</option>
            <option value="200">Teacher</option>
          </select>
        </div>
        <div class="form-group">
          <label for="district-input">Select Your District</label>
          <select name="district" id="district-input" class="form-control" required>
            <option value="">--Choose a District--</option>
            <% districts.forEach( district => { %>
              <option 
                value="<%= district._id %>"
                class="district"
              >
                <%= district.name %>
              </option>
              <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="school-input">Select Your School</label>
          <select name="school" id="school-input" class="form-control" required>
            <option value="">--Choose a School--</option>
            <% districts.forEach( district => { %>
              <% district.schools.forEach( school => { %>
                <option 
                  class="<%= district._id %> school" 
                  value="<%= school %>"
                >
                <%= school %>
              </option>
              <% }) %>
              <% }) %>
            </select>
          </div>
          <div class="form-group" id="teacher-input-container" hidden>
            <label for="teacher-input">Select Your Teacher</label>
              <select name="teacher" id="teacher-input" class="form-control">
                <option value="">--Choose a Teacher--</option>
                <% teachers.forEach( teacher => { %>
                    <option 
                      class="<%= teacher.district._id %> <%= teacher.school.toLowerCase().replaceAll(' ', '-') %> teacher" 
                      value="<%= teacher._id %>"
                    >
                    <%= teacher.name %>
                  </option>
                <% }) %>
              </select>
            </div>
            <div class="form-group" id="section-input-container" hidden>
              <label for="section-input">Select Your Section</label>
              <select name="section" id="section-input" class="form-control">
                <option value="">--Choose a Section--</option>
                <% teachers.forEach( teacher => { %>
                  <% teacher.sections.forEach( section => { %>
                    <option 
                      class="<%= teacher._id %> section" 
                      value="<%= section._id %>"
                      >
                      <%= section.name %>
                    </option>
                  <% }) %>
                <% }) %>
              </select>
            </div>
          <button type="submit" class="btn btn-success">
            Submit
          </button>
        </form>
  <!-- IF THERE ARE NO SECTIONS, PROMPT TO CREATE SOME -->
  <% } else if (user.profile.role > 100) { %>
    <% if (!user.profile.sections.length) { %>
      <h1>You're ready create some sections</h1>
      <a class="btn btn-outline-info" role="button" href="/sections">Sections</a>
    <!-- We're signed up and have sections -->
    <% } else { %>
      <h1>SCOREBOARD GOES HERE</h1>
    <% } %>
  <!-- STUDENT ROLE  -->
  <% } else { %>
    <% if (!user.profile.sections.length) { %>
      <h1>You aren't enrolled in any sections</h1>
      <h2>Remind your teacher to take you off the waitlist!</h2>
    <% } else  { %> 
      <h1> Welcome back, <%= user.profile.name %>!</h1>
      <h1>SCOREBOARD GOES HERE</h1>
    <% }  %>
  <% } %>
</main>

<%- include('./partials/footer') %>
