<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/scoreboard.css">
<%- include('./partials/nav') %>
<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header">Scoreboard</h1>
    </div>
    <div class="page-nav-container">
    </div>
  </section>
  <section class="content-container podium-container">
    <div class="section-card-container">
      <div class="podium second-place">
        <h3> <%= data[1]?.name %> </h3>
        <p>Points: <%= data[1]?.points %> </p>        
        <p>Pages Read: <%= data[1]?.pagesRead %> </p>        
        <p>Books Read: <%= data[1]?.booksRead %> </p>        
        <p>Top Reader: <%= data[1]?.topReader %> </p>        
      </div>
      <div class="podium-padding second">
        <h5>Second Place</h5>
      </div>
    </div>
    <div class="section-card-container">
      <div class="podium first-place">
        <h3> <%= data[0].name %> </h3>
        <p>Points: <%= data[0].points %> </p>        
        <p>Pages Read: <%= data[0].pagesRead %> </p>        
        <p>Books Read: <%= data[0].booksRead %> </p>        
        <p>Top Reader: <%= data[0].topReader %> </p>  
      </div>
      <div class="podium-padding first">
        <h5>First Place</h5>
      </div>
    </div>
    <div class="section-card-container">
      <div class="podium third-place">
        <h3> <%= data[2]?.name %> </h3>
        <p>Points: <%= data[2]?.points %> </p>        
        <p>Pages Read: <%= data[2]?.pagesRead %> </p>        
        <p>Books Read: <%= data[2]?.booksRead %> </p>        
        <p>Top Reader: <%= data[2]?.topReader %> </p>  
      </div>
      <div class="podium-padding third">
        <h5>Third Place</h5>
      </div>
    </div>
  </section>
  <section class="content-container">
    <h3>Honorable Mention</h3>
  </section>
</main>
<%- include('./partials/footer') %>