<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/scoreboard.css">
<%- include('./partials/nav') %>
<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header">Scoreboard</h1>
      <p>May the odds be ever in your favor</p>
    </div>
    <div class="page-nav-container">
      
    </div>
  </section>
  <section class="content-container podium-container">
    <div class="section-card-container">
      <div class="podium second-place">
        <% if (data[1]) { %>
          <h3> <%= data[1].name %> </h3>
          <p>Points:</p>
          <h5> <%= data[1].points %> </h5>        
          <p>Pages Read:</p>
          <h5> <%= data[1].pagesRead %> </h5>        
          <p>Books Read:</p>
          <h5> <%= data[1].booksRead %> </h5>        
          <p>Top Reader:</p>
          <h5> <%= data[1].topReader %> </h5>       
        <% } else { %>
          <h3>N/A</h3>
        <% } %>
      </div>
      <div class="podium-padding second">
        <h5>Second Place</h5>
      </div>
    </div>
    <div class="section-card-container">
      <div class="podium first-place">
        <h3> <%= data[0].name %> </h3>
          <p>Points:</p>
          <h5> <%= data[0].points %> </h5>        
          <p>Pages Read:</p>
          <h5> <%= data[0].pagesRead %> </h5>        
          <p>Books Read:</p>
          <h5> <%= data[0].booksRead %> </h5>        
          <p>Top Reader:</p>
          <h5> <%= data[0].topReader %> </h5>
      </div>
      <div class="podium-padding first">
        <i class="fa-solid fa-medal"></i>
        <h5>First Place</h5>
        <i class="fa-solid fa-medal"></i>
      </div>
    </div>
    <div class="section-card-container">
      <div class="podium third-place">
        <% if (data[2]) { %>
          <h3> <%= data[2].name %> </h3>
          <p>Points:</p>
          <h5> <%= data[2].points %> </h5>        
          <p>Pages Read:</p>
          <h5> <%= data[2].pagesRead %> </h5>        
          <p>Books Read:</p>
          <h5> <%= data[2].booksRead %> </h5>        
          <p>Top Reader:</p>
          <h5> <%= data[2].topReader %> </h5>
        <% } else { %>
          <h3>N/A</h3>
        <% } %>
      </div>
      <div class="podium-padding third">
        <h5>Third Place</h5>
      </div>
    </div>
  </section>
  <% if (data.length > 3) { %>
    <section class="content-container">
      <h3>Honorable Mentions</h3>
      <table id="waitlist-list" class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Section</th>
            <th scope="col">Points</th>
            <th scope="col">Pages Read</th>
            <th scope="col">Books Read</th>
            <th scope="col">Top Reader</th>
          </tr>
        </thead>
        <tbody>
          <% section.slice(3).forEach( section => { %>
            <tr>
              <td> <%= section.name %> </td>
              <td> <%= section.points %> </td>
              <td> <%= section.pagesRead %></td>
              <td> <%= section.booksRead %></td>
              <td> <%= section.topReader %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  <% } %>
</main>
<%- include('./partials/footer') %>